# Copy to .env and edit
TPROXY_HOSTNAME: proxy.example.com
ACME_EMAIL: you@example.com
SITE_VARIANT: northwind-field
# openssl rand -hex 16
TPROXY_SECRET: ""

# a proxy that the server itself will use to connect to Telegram.
PROXY_ENABLED: "false" 
PROXY_TYPE: "socks5"
PROXY_ADDRESS: "host.docker.internal:1080"
PROXY_USERNAME: ""
PROXY_PASSWORD: ""


# directory with stub site files. Will be ignored if PUBLIC_SITE_URL specified.
PUBLIC_SITE_DIR: "/srv/tproxy-site"
# http (no https) url of public site. Example: http://host.docker.internal:5000
PUBLIC_SITE_UPSTREAM: "" 



